<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-inverse">Library Uepb</h1>
        <p class="text-inverse">Virtual Management of Library UEPB.</p>
        <br>
        <br>
       <div ng-show="!user.id">
       	  <a class="btn btn-lg btn-primary" href="#/user_login">Sign In</a>
          <a class="btn btn-lg btn-info" href="#/user_register">Sign up</a>
       </div>
       <div ng-show="user.id">
       	<a class="btn btn-lg btn-primary" href="" ng-click="signOut()">Logout</a>
       </div>
      </div>
    </div>
  </div>
</div>
</div>