{{address}}
<section ng-show="!user.id">
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{error}}
                    <div class="form-wrap">
                        <h1>Sign up with your email account</h1>
                        <form role="form" id="login-form" autocomplete="off" ng-submit="submitRegistration(registrationForm)" ng-init="registrationForm = {}" >
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email" ng-model="registrationForm.email" required="required">
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Username</label>
                                <input type="name" name="username" id="email" class="form-control" placeholder="Name" ng-model="registrationForm.name" required="required">
                            </div>
                            <div class="form-group">
                                <label for="key" class="sr-only">Password</label>
                                <input type="password" name="key" id="key" class="form-control" placeholder="Password" ng-model="registrationForm.password" required="required">
                            </div>
                            <div class="form-group">
                                <label for="key" class="sr-only">Password Confirmation</label>
                                <input type="password" name="key" id="key" class="form-control" placeholder="Password Confirmation" ng-model="registrationForm.password_confirmation" required="required">
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Sign Up">
                        </form>
                        <hr>
                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Alisson © - 2016</p>
                </div>
            </div>
        </div>
    </footer>
</section>