
<header ng-if="user.admin">
    <div class="clearfix">
        <div class="pull-right">
            <button class="btn btn-lg btn-primary" ng-show="user.id" ng-click="newBook()">
                New Book
            </button>
        </div>
        <h2 class="h2">Book Search</h2>
    </div>
</header>

<section class="book-search-form">
    <form>
        <label for="keywords" class="sr-only">Keywords</label>
        <input type="text"
               name="keywords"
               class="form-control input-lg"
               placeholder="Book Name"
               ng-change="searchBook(keywords)"
               ng-model="keywords">
    </form>
</section>
<section class="search-results" ng-if = "books.length > 0">
    <header>
        <h1 class="h3">Results</h1>
    </header>
    <ol class="list-group">
        <li class="list-group-item clearfix" ng-repeat="book in books">
            <h3 class="pull-right"><small class="text-uppercase">Joined </small>{{ book.created_at | date }}</h3>
            <h2 class="h3">
                {{ book.title}}
            </h2>
            <div class="pull-right">
                <buton class="btn btn-small btn-primary" 
                ng-click="showBook(book.id)" ng-show="user.admin">
                    View Details...
                </buton>
            </div>
        </li>
    </ol>
</section>











